* {
  box-sizing: border-box;
  margin: 0%;
  font-family: Inter, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.Container {
  width: 377px;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 12px 0px;
  box-shadow: 0px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 24px 16px;
}
.Container1 {
  display: flex;
  gap: 6px;
  margin-top: 19px;
}
.Title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
#textInput {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  padding: 16px;
}
.Add {
  width: 59px;
  height: 40px;
  background-color: #3c82f6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #f9f9f9;
  cursor: pointer;
}
.Container2 {
  width: 345px;
  height: 32px;
  margin-top: 20px;
  display: flex;
  gap: 6px;
}
.Container2 > div {
  height: 32px;
  background-color: #f3f4f6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #363636;
  padding-left: 12px;
  padding-right: 12px;
}
.chosen {
  background-color: #3c82f6 !important;
  color: #ffffff !important;
}
.list {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #6b7280;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.item {
  width: 345px;
  height: 62px;
  border-radius: 6px;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}
.box {
  width: 109px;
  height: 20px;
  display: flex;
  gap: 10px;
  margin-left: 16px;
}
.delete-btn {
  width: 67px;
  height: 30px;
  border-radius: 6px;
  background-color: #fef2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #ef4444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #767676;
}
.checkbox:checked + p {
  text-decoration: line-through;
}
.Container3 {
  width: 345px;
  border-top: 1px solid #e4e4e7;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 16px;
}
.taskCount {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #6b7280;
}
.clearBtn {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #ef4444;
  cursor: pointer;
}
.footer {
  display: flex;
  gap: 4px;
  padding-top: 40px;
}
.a {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #6b7280;
}
.b {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #3b73ed;
}
